@import 'tailwindcss';
@font-face {
    font-family: AvantGardeCTT;
    src: url('/fonts/avantgardectt.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: AvantGardeCTT;
    src: url('/fonts/avantgardectt_bold.woff') format('woff');
    font-weight: bold;
}
