@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@font-face {
    font-family: AvantGardeCTT;
    font-weight: normal;
    src: url('../../public/fonts/avantgardectt.woff2') format('woff2');
}
@font-face {
    font-family: AvantGardeCTT;
    font-weight: bold;
    src: url('../../public/fonts/avantgardectt-bold.woff2') format('woff2');
}
@theme {  --font-avant: AvantGardeCTT, sans-serif; }

.main-button {
    background-color: #FFEC00;
    box-shadow: -2px -6px 25px inset rgb(255 178 0 / 60%);
}
