@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@font-face {
    font-family: AvantGardeCTT;
    font-weight: normal;
    src: url('../../public/fonts/avantgardectt.woff2') format('woff2');
}
@font-face {
    font-family: AvantGardeCTT;
    font-weight: bold;
    src: url('../../public/fonts/avantgardectt-bold.woff2') format('woff2');
}
@theme {  --font-avant: AvantGardeCTT, sans-serif; }
.main-content {
    padding: 5px;
    width: 100%;
    background: white;
    border-radius: 10px;
}
.main-button {
    background-color: #FFEC00;
    box-shadow: -2px -6px 25px inset rgb(255 178 0 / 60%);
}
.main-sector {
    background: radial-gradient(at right top, rgb(255, 221, 0), rgba(252, 252, 179, 1.0));
    display: flex;
    flex-direction: row;
    padding: 20px 10px 10px 5px;
    border: solid 1px #e38f00;
}
.navContainer {
    left: 5px;
    border-radius: 10px;
    padding: 10px;
}
.navContainer a img{
    height: auto;
    width: 100%;
    padding-bottom: 5px;
}
.menu-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.top-news {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.top-news .news-container {
    border-radius: 10px;
    border: solid 1px #e38f00;
    width: 20%;
    height: 90%;
    padding: 5px;
    font-family: AvantGardeCTT;
    font-weight: normal;
    display: flex;
    flex-direction: column;
}
.top-news .news-container .time-container {
    display: flex;
    justify-content: space-between;
    opacity: 0.6;
}
.top-news .news-container .news-body {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

